/*
*
*	This css is for all template or page without home page or front page
*
*/

/* global css */
.hieght70px{
	width: 100%;
	height: 70px;
}
img{
	width: 100%;
	height: auto;
} /*for all images responsive*/

/* template css */
#main_header{
	background-color: #25A9BD;
}
.main_menu nav div ul li a{
	color: #fff;
}
.main_menu nav div ul li .sub-menu{
	background-color: #25A9BD;
	border-left: none;
}
.main_logo .site-title a,.main_logo .site-description{
	color: #fff;
}
.main_menu nav div ul li .sub-menu li {
    position: relative;
    overflow: hidden;
}
.main_menu nav div ul ul li:before {
	content: "";
	width: 0px;
	height: 0px;
	background: #FCFFFF;
	position: absolute;
	top: -12px;
	right: -14px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.main_menu nav div ul ul li:hover:before {
	width: 50px;
	height: 50px;
}
.main_menu nav div ul li .sub-menu li a {
	color: #FFF;
    text-transform: initial;
}
.main_menu nav div ul li .sub-menu li a:hover {
	color: #FFF;
    text-decoration: underline;
}
/* body content */
#content{
    position: relative;
    overflow: hidden;
    padding: 1% 3%;
}
#primary{
	width: 70%;
	float: left;
	overflow-y: hidden;
	line-height: 30px;
}
#secondary{
	float: right;	
}
#pagePHP .entry-header {
	padding: 60px 0px 20px 10px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	border-radius: 2px;
	border-bottom: 1px solid #25A9BD;
	text-transform: uppercase;
	margin-bottom: 50px;
	color: #25A9BD;
	animation: load_text 2.5s ease-in infinite;
	-webkit-animation: load_text 2.5s ease-in-out infinite;
	-moz-animation: load_text 2.5s ease-in-out infinite;
	-ms-animation: load_text 2.5s ease-in-out infinite;
	-o-animation: load_text 2.5s ease-in-out infinite;
}
@-webkit-keyframes load_text{
	0%{
		letter-spacing: 6px;
	}
	50%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 6px;
	}
} /*keyframes load_text*/
@-moz-keyframes load_text{
	0%{
		letter-spacing: 6px;
	}
	50%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 6px;
	}
}
@-ms-keyframes load_text{
	0%{
		letter-spacing: 6px;
	}
	50%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 6px;
	}
} /*keyframes load_text*/
@-o-keyframes load_text{
	0%{
		letter-spacing: 6px;
	}
	50%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 6px;
	}
} /*keyframes load_text*/
@keyframes load_text{
	0%{
		letter-spacing: 6px;
	}
	50%{
		letter-spacing: 4px;
	}
	100%{
		letter-spacing: 6px;
	}
} /*keyframes load_text*/
#pagePHP .entry-header .entry-meta span{
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: uppercase;
}
#pagePHP .entry-header .entry-meta{
	width: 100%;
	height: 30px;
	overflow: hidden;
	animation: text_writter 8s ease-in-out infinite;
	-webkit-animation: text_writter 8s ease-in-out infinite;
	-moz-animation: text_writter 8s ease-in-out infinite;
	-ms-animation: text_writter 8s ease-in-out infinite;
	-o-animation: text_writter 8s ease-in-out infinite;
}
@-webkit-keyframes text_writter{
	0%{
		width: 100%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@-moz-keyframes text_writter{
	0%{
		width: 100%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@-ms-keyframes text_writter{
	0%{
		width: 100%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@-o-keyframes text_writter{
	0%{
		width: 100%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@keyframes text_writter{
	0%{
		width: 100%;
	}
	50%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
} /*keyframes text_writter*/
#pagePHP .entry-header .entry-meta span a{
	color: #25A9BD;
}
#pagePHP .post-thumbnail{
	width: 70%;
    margin: 10px auto;
}
#pagePHP .post-thumbnail img {
	width: 100%;
	height: auto;
	border: 5px ridge #66A5B699;
	animation: thumbshow 3s ease-in-out 3s;
	-webkit-animation: thumbshow 3s ease-in-out 3s;
	-moz-animation: thumbshow 3s ease-in-out 3s;
	-ms-animation: thumbshow 3s ease-in-out 3s;
	-o-animation: thumbshow 3s ease-in-out 3s;
}
@-webkit-keyframes thumbshow{
	0%{
		transform: none;
	}
	50%{
		transform: skew(18deg,-4deg);
	}
	100%{
		transform: none;
	}
}
@-moz-keyframes thumbshow{
	0%{
		transform: none;
	}
	50%{
		transform: skew(18deg,-4deg);
	}
	100%{
		transform: none;
	}
}
@-ms-keyframes thumbshow{
	0%{
		transform: none;
	}
	50%{
		transform: skew(18deg,-4deg);
	}
	100%{
		transform: none;
	}
}
@-o-keyframes thumbshow{
	0%{
		transform: none;
	}
	50%{
		transform: skew(18deg,-4deg);
	}
	100%{
		transform: none;
	}
}
@keyframes thumbshow{
	0%{
		transform: none;
	}
	50%{
		transform: skew(18deg,-4deg);
	}
	100%{
		transform: none;
	}
}






#scrollTop {
	background-color: #25A9BDB3;
	overflow: hidden;
	width: 45px;
	height: 50px;
	animation: text_shadow 1.5s ease-in-out infinite;
	-webkit-animation: text_shadow 1.5s ease-in-out infinite;
	-moz-animation: text_shadow 1.5s ease-in-out infinite;
	-ms-animation: text_shadow 1.5s ease-in-out infinite;
	-o-animation: text_shadow 1.5s ease-in-out infinite;
}
@-webkit-keyframes text_shadow{
	0%{
		text-shadow: inherit;
	}
	50%{
		text-shadow: 1px 1px 6px #000;
	}
	100%{
		text-shadow: inherit;
	}
}
@-moz-keyframes text_shadow{
	0%{
		text-shadow: inherit;
	}
	50%{
		text-shadow: 1px 1px 6px #000;
	}
	100%{
		text-shadow: inherit;
	}
}
@-ms-keyframes text_shadow{
	0%{
		text-shadow: inherit;
	}
	50%{
		text-shadow: 1px 1px 6px #000;
	}
	100%{
		text-shadow: inherit;
	}
}
@-o-keyframes text_shadow{
	0%{
		text-shadow: inherit;
	}
	50%{
		text-shadow: 1px 1px 6px #000;
	}
	100%{
		text-shadow: inherit;
	}
}
@keyframes text_shadow{
	0%{
		text-shadow: inherit;
	}
	50%{
		text-shadow: 1px 1px 6px #000;
	}
	100%{
		text-shadow: inherit;
	}
}

/*
----------------------------------------
----------------------------------------
-------------- media query for menu-----
----------------------------------------
----------------------------------------
 */
@media screen and (max-width: 960px){
	/* main body-primary and sidebar-secondary */
	#primary {
	    width: 90%;
	    float: none;
	    margin: 0 auto;
	    line-height: 18px;
	}
	#secondary{
		width: 90%;
	    float: none;
	    margin: 0 auto;
   		line-height: 18px;
	}
	#pagePHP .entry-header {
    font-size: 15px;
    letter-spacing: 2px;
	}
	#pagePHP .entry-header .entry-meta{
		animation: none;
	}
}/*media