/*
*
*	This css is form all template or page without home page or front page
*
*/

/* global css */
.hieght70px{
	width: 100%;
	height: 70px;
}

/* template css */
#main_header{
	background-color: #2D2D2D;
}
.main_menu nav div ul li a{
	color: #fff;
}
.main_menu nav div ul li .sub-menu{
	background-color: #2D2D2D;
}
.main_logo .site-title a,.main_logo .site-description{
	color: #fff;
}

/* body content */
#content{

}

/*
----------------------------------------
----------------------------------------
-------------- media query for menu-----
----------------------------------------
----------------------------------------
 */
@media screen and (max-width: 960px){
#main_header,#header,.main_logo,.main_menu,.main_menu,.main_menu nav div ul,.main_menu nav div ul li,.main_menu nav div ul li a,.main_logo .site-title a,.main_logo .site-description,.main_menu nav div ul li ul,.main_menu nav div ul li ul li,.main_menu nav div ul li ul li a,.main_menu nav div ul li .sub-menu{
	all: inherit;
}
.main_menu nav div ul li .sub-menu{
	margin-left: 10px;
}
.main_menu nav div ul li:hover .sub-menu{
	margin-left: 10px;
}
.main_logo .site-title{
	text-align: center;
	color: #E23E1D;
    font-size: 40px;
    margin: 10px auto;
}
.main_logo .site-description{
	text-align: center;
}

/* icon menu */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#toggle_menu{
	visibility: visible;
	float: right;
    margin-right: 20px;
    cursor: pointer;
}
#site-navigation{
	display: none;
}
.hieght70px {
	all: inherit;
}
}/*media
