/*
*
*	This css is for all template or page without home page or front page
*
*/

/* global css */
.hieght70px{
	width: 100%;
	height: 70px;
}
img{
	width: 100%;
	height: auto;
} /*for all images responsive*/

/* template css */
#main_header{
	background-color: #25A9BD;
}
.main_menu nav div ul li a{
	color: #fff;
}
.main_menu nav div ul li .sub-menu{
	background-color: #25A9BD;
	border-left: none;
}
.main_logo .site-title a,.main_logo .site-description{
	color: #fff;
}
.main_menu nav div ul li .sub-menu li {
    position: relative;
    overflow: hidden;
}
.main_menu nav div ul ul li:before {
	content: "";
	width: 0px;
	height: 0px;
	background: #FCFFFF;
	position: absolute;
	top: -12px;
	right: -14px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}
.main_menu nav div ul ul li:hover:before {
	width: 50px;
	height: 50px;
}
.main_menu nav div ul li .sub-menu li a {
	color: #FFF;
    text-transform: initial;
}
.main_menu nav div ul li .sub-menu li a:hover {
	color: #FFF;
    text-decoration: underline;
}

/* body content */
#content{
    position: relative;
    overflow: hidden;
    padding: 1% 3%;
}
#primary{
	width: 70%;
	float: left;
	overflow-y: hidden;
	line-height: 30px;
}
#secondary{
	float: right;	
}
#pagePHP .entry-header {
	padding: 60px 0px 20px 10px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 4px;
	border-radius: 2px;
	border-bottom: 1px solid #25A9BD;
	text-transform: uppercase;
	margin-bottom: 50px;
	color: #25A9BD;
}
#pagePHP .entry-header .entry-meta span{
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0px;
}
#pagePHP .entry-header .entry-meta span a{
	color: #25A9BD;
}
#pagePHP .post-thumbnail{
	width: 70%;
    margin: 10px auto;
}
#pagePHP .post-thumbnail img {
	border: 5px ridge #66A5B699;
	margin-top: 35px;
}
#scrollTop{
	background-color: #25A9BDB3;
}

/*
----------------------------------------
----------------------------------------
-------------- media query for menu-----
----------------------------------------
----------------------------------------
 */
@media screen and (max-width: 960px){
	.main_menu nav div ul li .sub-menu{
		margin-left: 10px;
	}
	.main_menu nav div ul li:hover .sub-menu{
		margin-left: 10px;
	}
	.main_logo .site-title{
		text-align: center;
		color: #25A9BD;
	    font-size: 40px;
	    margin: 10px auto;
	}
	.main_logo .site-description{
		text-align: center;
	}

	/* icon menu */
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #333;
	    margin: 6px 0;
	    transition: 0.4s ease;
	   	-webkit-transition: 0.4s ease;
	    -moz-transition: 0.4s ease;
	    -ms-transition: 0.4s ease;
	    -o-transition: 0.4s ease;
	}
	.change .bar1 {
	    transform: rotate(-45deg) translate(-9px, 6px);
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    -moz-transform: rotate(-45deg) translate(-9px, 6px);
	    -ms-transform: rotate(-45deg) translate(-9px, 6px);
	    -o-transform: rotate(-45deg) translate(-9px, 6px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
	    transform: rotate(45deg) translate(-8px, -8px);
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    -moz-transform: rotate(45deg) translate(-8px, -8px);
	    -ms-transform: rotate(45deg) translate(-8px, -8px);
	    -o-transform: rotate(45deg) translate(-8px, -8px);
	}
	#toggle_menu{
		visibility: visible;
		float: right;
	    margin-right: 20px;
	    cursor: pointer;
	}
	#site-navigation{
		display: none;
	}
	.hieght70px {
		all: inherit;
	}
	#primary {
	    width: 90%;
	    float: none;
	    margin: 0 auto;
	}
	#secondary{
		width: 90%;
	    float: none;
	    margin: 0 auto;
	}
}/*media